body{
background-color: black
}
h1{
    font-size: 40px;
color:#E5E5E5;
    font-family: 'Poppins', sans-serif;
}
h2{ 
    font-size:34;
 color:white;
}
.big{font-size: 60px;}
.uppercase{text-transform: uppercase;}
